.vermelho{
    width: 700px;
    padding: 0px;
    background-color: tomato;
    text-align: center;
    margin: auto;
}

.verde{
    width: 700px;
    padding: 25px;
    background-color: greenyellow;
    text-align: center;
    margin: auto;
}