
body{

}
.container{
    width: 90%;
    height:40%;
    background: rgb(12,34,0);
    background: linear-gradient(90deg, rgba(12,34,0,1) 0%, rgba(57,187,98,1) 100%, rgba(0,212,255,1) 100%);
}

footer{
    background-color: gray;
}