
body{

}
.container{
    width: 90%;
    height:500px;
    background: rgb(12,34,0);
    background: linear-gradient(90deg, rgba(12,34,0,1) 0%, rgba(57,187,98,1) 100%, rgba(0,212,255,1) 100%);
    text-align: center;
    margin: auto;
}

footer{
    height: 100px;
    width: 90%;
    background-color: gray;
}

.imagem-sapato{
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
}

.sapato{
    background-color: greenyellow;
    width: 150px;
    height: 350px;
    display: flex;
    align-items: center;
    align-content: space-between;
    float: left;
}